body {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(background-img.jpg) no-repeat center;
    background-size: cover;
}

.container {
    width: 30%;
    height: 75%;
    background-color: rgba(255, 255, 255, 0.8);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    border-radius: 10px;
}

.headers {
    text-align: center;
    position: absolute;
    top: 0;
}

h1 {
    font-family:'Otomanopee One', sans-serif;
    font-size: 2.5em;
    margin-bottom: 0;
}

h2 {
    font-family: 'Fredericka the Great', cursive;
    margin-top: 10px;
    font-size: 1.3em;
    border-bottom: black 1px solid;
    padding-bottom: 10px;
}

h3 {
    margin: 2px;
}

.btn-cont{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    position: absolute;
    bottom: 10%;
}

.btns {
    padding: 10px 20px;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1.2em;
}

.add-btn {
    background-color: #12CF79;
}

.delete-btn {
    background-color: #D83051;
}

.refresh-btn {
    background-color: blueviolet;
}

.to-do-cont {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 80%;
    position: absolute;
    top: 26%;
    margin: auto;
}

.to-do-cont p {
    text-align: center;
    font-weight: 700;
    font-size: 1.1em;
}

.nada-hidden {
    display: none;
}

.all-gone {
    text-align: center;
}
